EXPO_PUBLIC_API_BASE_URL=http://localhost:4000/v1
EXPO_PUBLIC_USE_MOCK_API=true
EXPO_PUBLIC_ASGARDEO_ISSUER=https://api.asgardeo.io/t/<org>/oauth2/token
EXPO_PUBLIC_ASGARDEO_MOBILE_CLIENT_ID=
EXPO_PUBLIC_MAPBOX_TOKEN=
